# Shared environment variables
NODE_ENV=development

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=cinema_admin
POSTGRES_PASSWORD=cinema_admin
POSTGRES_DB=cinema

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
